.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .calculator {
    width: "300px";
    border: "1px solid #ccc";
    border-radius: "5px";
    padding: "10px";
    box-shadow: "0 0 10px #ccc"
  }
  
  .calc-screen {
    width: "100%";
    margin-bottom: "10px";
  }
  